<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>

    <script>
        function buy() {
            location.href = "buy";
        }
    </script>


    <script>
        const update = () => {
            updateForm.submit();
        }
    </script>

</head>
<style>
    .img-wrapper {
        /*width: 100%;*/
        /*height: 400px;*/
        /*overflow: hidden;*/
        width: 600px;
        height:600px;
        margin: 0 auto;
        overflow:hidden;
        position:relative;

    }
    .imgFile {
        width: 100%;
        height: 100%;
        object-fit:cover;
        /*object-fit: contain;*/
    }
</style>
<body>

<h2> 상품정보 </h2>
<a href="/goods/"> 돌아가기 </a>
<a th:href="@{|/goods/update/${goodsId}|}"> 수정하기 </a>
<!--<input type="hidden" th:value="${session.LoginNumber}" id="memberId" name="memberId">-->
<!--<input type="hidden" th:value="${goods.goodsId}" id="goodsId" name="goodsId">-->

<div class="container">
<table class="table">
    <thead>
    <tr>
        <th scope="col">번호</th>
        <th scope="col">작성자</th>
        <th scope="col">제목</th>
        <th scope="col">작성내용</th>
        <th scope="col">작성시간</th>
        <th scope="col">가격</th>
        <th scope="col">좋아요</th>
        <th scope="col">조회수</th>
        <th scope="col">재고</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <!--        수정기능, 수정화면(update.html)에서 비밀번호를 입력받고 일치하면 수정처리 일치하지 않으면 수정X
                    수정처리도 post방식(폼에서 바로 요청하는)
                             put방식 (ajax를 이용하여 요청하는) 두가지로 모두 해보기
                             수정이 완료되면 수정후 상세페이지를 출력 -->
        <td th:text="${goods.goodsId}">번호</td>
        <td th:text="${goods.goodsWriter}">작성자</td>
        <td th:text="${goods.goodsTitle}">제목</td>
        <td th:text="${goods.goodsContents}">작성내용</td>
        <td th:text="${goods.createTime}">작성시간</td>
        <td th:text="${goods.goodsPrice}">가격</td>
        <td th:text="${goods.goodsLikeCount}">좋아요수</td>
        <td th:text="${goods.goodsView}">조회수</td>
        <td th:text="${goods.goodsStock}">재고</td>
        <input id="price" type="hidden" th:value="${goods.goodsPrice}">
<!--            <img th:src="@{|/image/${goods.goodsFilename}|}" alt="로딩" style="width:50px; height:50px;">-->

<!--        <td th:text="${goods.goodsDate}">작성시간</td>-->

    </tr>
    </tbody>
</table>
    <div class="center">
<div class="img-wrapper" th:each="goodsFile: ${goods.getGoodsPhoto()}">
    <img th:src="@{|/goodsFile/${goodsFile.getGoodsFilename}|}" class="imgFile d-block" alt="...">
</div>

</div>
<!--<a th:href="@{|/goods/update/${goods.goodsId}|}" th:if="${goods.getGoodsWriter().equals(session['loginId'])}">수정하기</a>-->
<!--<button th:if="${goods.getGoodsWriter().equals(session['loginId'])}" th:onclick="deleteById([[${goods.goodsId}]])"> 삭제 </button>-->
<!--<button th:if="${session['loginId'].equals('admin')}" th:onclick="deleteById([[${goods.goodsId}]])"> 삭제 </button>-->

<br><hr>

    <div class="card text-center">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true"> 상품정보 </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false"> 상품후기 </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false"> FAQ </button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">상품내용
            <h2 th:text="${goods.goodsInFor}"> 상품내용 </h2>
    </div>

        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <h2> 댓글 </h2>
            <div id="comment-write">
                <input type="hidden" id="goodsId" name="goodId" th:value="${goods.goodsId}">
                <input type="hidden" id="memberId" name="memberId" th:value="${session['LoginNumber']}" readonly><br><br>
                <input type="text" id="memberNickname" name="memberNickname" th:value="${member.memberNickname}" readonly><br><br>
                <input type="text" id="goodsCommentContents" placeholder="내용"><br><br>
                <button id="goodsCommentSave"> 댓글등록 </button>
            </div>

            <div id="comment-area">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">댓글번호</th>
                        <th scope="col">작성자</th>
                        <th scope="col">내용</th>
                        <th scope="col">작성시간</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="goodsComment: ${goodsCommentList}">
                        <td th:text="${goodsComment.goodsCommentId}"> 댓글번호 </td>
                        <td th:text="${goodsComment.memberNickName}"> 작성자 </td>
                        <td th:text="${goodsComment.goodsCommentContents}"> 내용 </td>
                        <td th:text="${#temporals.format(goodsComment.getCreateTime(), 'MM-dd HH:mm')}"> 작성시간 </td>
                        <td style="width: 20px" th:if="${session['LoginEmail'].equals(goodsComment.memberEmail)}">
                            <button class="comment_delete_btn" th:onclick="goodsCommentDelete([[${goodsComment.goodsCommentId}]])">X</button>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">FAQ</div>
    </div>

    </div>


    <div>
            <img id="goodsLike" src="/image/like_default.png">
            좋아요
        <input type="hidden" id="like_check" th:value="${like}">
    </div>

    <div class="d-grid gap-2 col-6 mx-auto mt-5 mb-5">
<button id="check_module" class="btn-primary" th:if="${goods.goodsStock>0}"> 구매하기 </button>
    </div>
</div>
</body>



<!--좋아요 스크립트-->
<script>
    $(document).ready(function () {
        let likeVal = document.getElementById('like_check').value
        const goodsId = document.getElementById("goodsId").value
        const memberId = document.getElementById("memberId").value
        const likeImg = document.getElementById("goodsLike")

        if (likeVal > 0) {
            likeImg.src = "/image/like.png";
        } else {
            likeImg.src = "/image/like_default.png";
        }
        // 좋아요 버튼을 클릭 시 실행되는 코드
        likeImg.addEventListener("click", function () {
            $.ajax({
                url: '/goods/goodsLike',
                type: 'POST',
                data: {'goodsId': goodsId, 'memberId': memberId},
                success: function (data) {
                    if (data == 1) {
                        $("#likeImg").attr("src", "/image/like.png");
                        // location.href="/board/"+boardId;
                        location.reload()

                    } else {
                        $("#likeImg").attr("src", "/image/like_default.png");
                        // location.href="/board/"+boardId;
                        location.reload()
                    }
                }, error: function () {
                    console.log('오타 찾으세요')
                }

            });

        });
    });

    // 댓글작성
    const goodsComment = document.getElementById("goodsCommentSave")
    goodsComment.addEventListener("click", function () {
        let goodsCommentContents = document.getElementById("goodsCommentContents").value
        let goodsId = document.getElementById("goodsId").value
        let memberId = document.getElementById("memberId").value
        if (!goodsCommentContents) {
            alert("리뷰를 입력해주세요")
        } else {

            $.ajax({
                type: "post",
                url: "/goodsComment/save",
                data: {
                    "memberId": memberId,
                    "goodsId": goodsId,
                    "goodsCommentContents": goodsCommentContents
                },
                dataType: "json",
                success: function (result) {
                    alert("작성 완료!")
                    location.reload()
                },
                error:function (result) {
                    alert("작성실패!")
                }
            })
        }
    })

//    댓글삭제 기능
    const goodsCommentDelete = (goodsCommentId) => {
        const reqUrl = "/goodsComment/" + goodsCommentId
        $.ajax({
            type : "delete",
            url : reqUrl,
            success: function () {
                alert ("리뷰 삭제 완료")
                location.reload()
            },
            error: function() {
                alert ("삭제 실패")
            }
        })
    }

</script>



<script th:inline="javascript">

    /*<![CDATA[*/
        let goodsInfo = /*[[${goods}]]*/
    /*]]*/




    // const price = document.getElementById("price").value
    // console.log(price)

    console.log(goodsInfo)

    $("#check_module").click(function () {
        const goodsId= "[[${goods.goodsId}]]";
            const IMP = window.IMP; // 생략가능
            IMP.init('imp59250378');
            // i'mport 관리자 페이지 -> 내정보 -> 가맹점식별코드
            // ''안에 띄어쓰기 없이 가맹점 식별코드를 붙여넣어주세요. 안그러면 결제창이 안뜹니다.
            IMP.request_pay({
                pg: 'kakao',
                pay_method: 'card',
                merchant_uid: 'merchant_' + new Date().getTime(),
                /*
             *  merchant_uid에 경우
             *  https://docs.iamport.kr/implementation/payment
             *  위에 url에 따라가시면 넣을 수 있는 방법이 있습니다.
             */
                name: '주문명 : ' + goodsInfo.goodsTitle,
                // 결제창에서 보여질 이름
                // name: '주문명 : ${auction.a_title}',
                // 위와같이 model에 담은 정보를 넣어 쓸수도 있습니다.
                amount: goodsInfo.goodsPrice,
                // amount: ${bid.b_bid},
                // 가격
                buyer_name: '이름',
                // 구매자 이름, 구매자 정보도 model값으로 바꿀 수 있습니다.
                // 구매자 정보에 여러가지도 있으므로, 자세한 내용은 맨 위 링크를 참고해주세요.
                buyer_postcode: '123-456',
            },
                function (rsp) {
                console.log(rsp);
                if (rsp.success) {
                    let msg = '결제가 완료되었습니다.';
                    msg += '결제 금액 : ' + rsp.paid_amount;
                    alert(msg);
                    // success.submit();
                    // 결제 성공 시 정보를 넘겨줘야한다면 body에 form을 만든 뒤 위의 코드를 사용하는 방법이 있습니다.
                    // 자세한 설명은 구글링으로 보시는게 좋습니다.
                    $.ajax({
                        type:'post',
                        url:'/goods/pay',
                        data :{
                            "count" : 1,
                            "goodsId" : goodsId

                        },
                    });
                } else {
                    let msg = '결제에 실패하였습니다.';
                    msg += '에러내용 : ' + rsp.error_msg;
                    alert(msg)
                }

            });
    });

</script>


</html>